.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  color: white;
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.bio {
  text-align: center;
  color: gray;
  margin-top: 16px;
}

.starButton {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
}

.messageInput {
  height: 50px;
  font-size: 1.3em;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
}